/*Style pour toutes les pages*/

body{
    background-color: darkslategrey;
}

header{
    text-align: center;
    font-size: 5vh;
}

#panier{
    position: fixed;
    top: 0;
    right: 0;

}

#logo{
    position: fixed;
    top: 0;
    left: 0;
    
}

footer{
    position: relative;
    bottom: 0px;
}

/*Style pour la page Principale uniquement*/

#choix{
    text-align: center;
}

.grillemarques{
    display: flex;
    text-align: center;
    flex-shrink: 3;
}
.grillemarques > a{
    width: 33%;
}

.models{
    display: flex;
    align-content: stretch;
    text-align: center;
    flex-wrap: wrap;   
}
.models > section {
    text-align: inherit;
    width: 32.5%;
}


/*Style pour la page Personnalisation uniquement*/

/*Style pour la page Contenu de la commande uniquement*/

.grille{
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vh 50vh;
}

form{
    display: flex;
    flex-direction: column;

}

/*Style pour la page A propos Contact*/

#formulairecontact{
    width: 90%;
}

#catégorie{
    width: 90%
}

#message{
    width: 90%;
    height: 100px;
}

body{
    color:rgb(69, 114, 159);
    background-color: rgb(236, 240, 247);
    
}
