body{
    background-color: darkslategrey;
}

header{
    font-size: xx-large;
    text-align: center;
}

footer{
    position: relative;
    bottom: 0px;
}

#choix{
    text-align: center;
}


.grillemarques{
    display: flex;
    text-align: center;
}

.grille{
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vh 50vh;
}

form{
    display: flex;
    flex-direction: column;

}